<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiandaojia.mapper.order.OrderProductMapper" >
  <resultMap id="BaseResultMap" type="com.xiandaojia.common.domain.OrderProduct" >
    <id column="order_product_id" property="orderProductId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="buy_num" property="buyNum" jdbcType="INTEGER" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
    <result column="actual_price" property="actualPrice" jdbcType="DECIMAL" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_product_id, order_id, product_id, buy_num, product_price, actual_price, total_price, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_order_product
    where order_product_id = #{orderProductId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_order_product
    where order_product_id = #{orderProductId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiandaojia.common.domain.OrderProduct" >
    insert into t_order_product (order_product_id, order_id, product_id, 
      buy_num, product_price, actual_price, 
      total_price, create_time)
    values (#{orderProductId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{buyNum,jdbcType=INTEGER}, #{productPrice,jdbcType=DECIMAL}, #{actualPrice,jdbcType=DECIMAL}, 
      #{totalPrice,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiandaojia.common.domain.OrderProduct" >
    insert into t_order_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderProductId != null" >
        order_product_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="buyNum != null" >
        buy_num,
      </if>
      <if test="productPrice != null" >
        product_price,
      </if>
      <if test="actualPrice != null" >
        actual_price,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderProductId != null" >
        #{orderProductId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="buyNum != null" >
        #{buyNum,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null" >
        #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiandaojia.common.domain.OrderProduct" >
    update t_order_product
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="buyNum != null" >
        buy_num = #{buyNum,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null" >
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null" >
        actual_price = #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_product_id = #{orderProductId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiandaojia.common.domain.OrderProduct" >
    update t_order_product
    set order_id = #{orderId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      buy_num = #{buyNum,jdbcType=INTEGER},
      product_price = #{productPrice,jdbcType=DECIMAL},
      actual_price = #{actualPrice,jdbcType=DECIMAL},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where order_product_id = #{orderProductId,jdbcType=BIGINT}
  </update>
  	<delete id="deleteByOrderId" parameterType="java.lang.Long">
		delete from t_order_product
		where order_id = #{orderId,jdbcType=BIGINT}
	</delete>
	<select id="queryListByOrderId" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_order_product 
		where order_id = #{orderId,jdbcType=BIGINT}
		order by create_time ASC
	</select>
</mapper>