<div class="modal-header">
    <div class="modal-title">{{productId === '' ? '新建' : '编辑'}}产品</div>
</div>
<form nz-form [formGroup]="form">
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4" ><label for="productName" nz-form-item-required>产品名称</label></div>
        <div nz-form-control nz-col [nzSm]="20">
            <nz-input formControlName="productName" [(ngModel)]="productName" name="productName" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="productName"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4">
            <label>产品分类</label>
        </div>
        <div nz-form-control nz-col [nzSm]="20">
            <nz-select formControlName="bigtypeId" [(ngModel)]="bigtypeId" name="bigtypeId" nzAllowClear>
                <nz-option
                    *ngFor="let option of types"
                    [nzLabel]="option.bigtypeName"
                    [nzValue]="option.bigtypeId">
                </nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4">
            <label>属性[多选]</label>
        </div>
        <div nz-form-control nz-col [nzSm]="20">
            <nz-select formControlName="smallProductRelationList"  [(ngModel)]="smallProductRelationList" [nzMode]="'multiple'" nzAllowClear>
                <nz-option
                    *ngFor="let option of tags"
                    [nzLabel]="option.smalltypeName"
                    [nzValue]="option.smalltypeId">
                </nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4">
            <label>产品介绍[多选]</label>
        </div>
        <div nz-form-control nz-col [nzSm]="20">
            <nz-select formControlName="productInformationRelationList"  [(ngModel)]="productInformationRelationList" [nzMode]="'multiple'" nzAllowClear>
                <nz-option
                    *ngFor="let option of introduces"
                    [nzLabel]="option.informationName"
                    [nzValue]="option.informationId">
                </nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4"><label for="productPrice" nz-form-item-required>价格</label></div>
        <div nz-form-control nz-col [nzSm]="20"productPrice>
            <nz-input-number formControlName="productPrice" [(ngModel)]="productPrice" [nzMax]="10" [nzMin]="1"></nz-input-number>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4"><label for="priceUnit" nz-form-item-required>价格单位描述</label></div>
        <div nz-form-control nz-col [nzSm]="20">
            <nz-input formControlName="priceUnit" [(ngModel)]="priceUnit" name="priceUnit" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="priceUnit"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4"><label for="productNum" nz-form-item-required>产品总数量</label></div>
        <div nz-form-control nz-col [nzSm]="20">
            <nz-input-number formControlName="productNum" [(ngModel)]="productNum" [nzMax]="10" [nzMin]="1"></nz-input-number>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4" nz-col [nzSm]="4">
            <label nz-form-item-required>是否打折</label>
        </div>
        <div nz-form-control nz-col [nzSm]="20">
            <nz-select formControlName="isDiscount" [(ngModel)]="isDiscount" name="isDiscount" nzAllowClear>
                <nz-option
                    *ngFor="let s of isDiscounts"
                    [nzLabel]="s.text"
                    [nzValue]="s.value">
                </nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4"><label for="productDiscount">折扣</label></div>
        <div nz-form-control nz-col [nzSm]="20">
            <nz-input-number formControlName="productDiscount" [(ngModel)]="productDiscount" [nzMax]="10" [nzMin]="1"></nz-input-number>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4" nz-col [nzSm]="4">
            <label nz-form-item-required>状态</label>
        </div>
        <div nz-form-control nz-col [nzSm]="20">
            <nz-select [(ngModel)]="productStatus" formControlName="productStatus" name="status" nzAllowClear>
                <nz-option
                    *ngFor="let s of status"
                    [nzLabel]="s.text"
                    [nzValue]="s.value">
                </nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4"  nz-col [nzSm]="4"><label for="productDesc">备注</label></div>
        <div nz-form-control  nz-col [nzSm]="20">
            <nz-input [(ngModel)]="productDesc" formControlName="productDesc" [nzType]="'textarea'"></nz-input>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="cancel()">
        关闭
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="save()">
        确定
    </button>
</div>
