<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiandaojia.mapper.sms.CheckCodeConfigMapper">
	<resultMap id="BaseResultMap" type="com.xiandaojia.common.domain.CheckCodeConfig">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="app_key" property="appKey" jdbcType="VARCHAR" />
		<result column="valid_duration" property="validDuration"
			jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="app_name" property="appName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, app_key, valid_duration, update_time, create_time, app_name
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_checkcode_config
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_checkcode_config
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.xiandaojia.common.domain.CheckCodeConfig">
		insert into t_checkcode_config (id, app_key, valid_duration,
		update_time, create_time, app_name
		)
		values (#{id,jdbcType=BIGINT}, #{appKey,jdbcType=VARCHAR},
		#{validDuration,jdbcType=INTEGER},
		#{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{appName,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.xiandaojia.common.domain.CheckCodeConfig">
		insert into t_checkcode_config
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="appKey != null">
				app_key,
			</if>
			<if test="validDuration != null">
				valid_duration,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="appName != null">
				app_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="appKey != null">
				#{appKey,jdbcType=VARCHAR},
			</if>
			<if test="validDuration != null">
				#{validDuration,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="appName != null">
				#{appName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiandaojia.common.domain.CheckCodeConfig">
		update t_checkcode_config
		<set>
			<if test="appKey != null">
				app_key = #{appKey,jdbcType=VARCHAR},
			</if>
			<if test="validDuration != null">
				valid_duration = #{validDuration,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="appName != null">
				app_name = #{appName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiandaojia.common.domain.CheckCodeConfig">
		update t_checkcode_config
		set app_key = #{appKey,jdbcType=VARCHAR},
		valid_duration = #{validDuration,jdbcType=INTEGER},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		app_name = #{appName,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<select id="queryCheckCodeConfigList" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_checkcode_config
		where app_key = #{appKey,jdbcType=VARCHAR}
	</select>
</mapper>