<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiandaojia.mapper.product.ProductInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xiandaojia.common.domain.ProductInfo" >
    <id column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="smalltype_id" property="smalltypeId" jdbcType="BIGINT" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
    <result column="product_url" property="productUrl" jdbcType="VARCHAR" />
    <result column="product_seqno" property="productSeqno" jdbcType="INTEGER" />
    <result column="price_unit" property="priceUnit" jdbcType="VARCHAR" />
    <result column="product_num" property="productNum" jdbcType="INTEGER" />
    <result column="is_discount" property="isDiscount" jdbcType="CHAR" />
    <result column="product_discount" property="productDiscount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="product_desc" property="productDesc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, product_name, smalltype_id, product_price, product_url, product_seqno, 
    price_unit, product_num, is_discount, product_discount, status, version, product_desc, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_product_info
    where product_id = #{productId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_product_info
    where product_id = #{productId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiandaojia.common.domain.ProductInfo" useGeneratedKeys="true" keyProperty="productId">
    insert into t_product_info (product_id, product_name, smalltype_id, 
      product_price, product_url, product_seqno, 
      price_unit, product_num, is_discount, 
      product_discount, status, version, 
      product_desc, create_time, update_time
      )
    values (#{productId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, #{smalltypeId,jdbcType=BIGINT}, 
      #{productPrice,jdbcType=DECIMAL}, #{productUrl,jdbcType=VARCHAR}, #{productSeqno,jdbcType=INTEGER}, 
      #{priceUnit,jdbcType=VARCHAR}, #{productNum,jdbcType=INTEGER}, #{isDiscount,jdbcType=CHAR}, 
      #{productDiscount,jdbcType=DECIMAL}, #{status,jdbcType=CHAR}, #{version,jdbcType=BIGINT}, 
      #{productDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiandaojia.common.domain.ProductInfo" useGeneratedKeys="true" keyProperty="product_id">
    insert into t_product_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="smalltypeId != null" >
        smalltype_id,
      </if>
      <if test="productPrice != null" >
        product_price,
      </if>
      <if test="productUrl != null" >
        product_url,
      </if>
      <if test="productSeqno != null" >
        product_seqno,
      </if>
      <if test="priceUnit != null" >
        price_unit,
      </if>
      <if test="productNum != null" >
        product_num,
      </if>
      <if test="isDiscount != null" >
        is_discount,
      </if>
      <if test="productDiscount != null" >
        product_discount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="productDesc != null" >
        product_desc,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="smalltypeId != null" >
        #{smalltypeId,jdbcType=BIGINT},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productUrl != null" >
        #{productUrl,jdbcType=VARCHAR},
      </if>
      <if test="productSeqno != null" >
        #{productSeqno,jdbcType=INTEGER},
      </if>
      <if test="priceUnit != null" >
        #{priceUnit,jdbcType=VARCHAR},
      </if>
      <if test="productNum != null" >
        #{productNum,jdbcType=INTEGER},
      </if>
      <if test="isDiscount != null" >
        #{isDiscount,jdbcType=CHAR},
      </if>
      <if test="productDiscount != null" >
        #{productDiscount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="productDesc != null" >
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiandaojia.common.domain.ProductInfo" >
    update t_product_info
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="smalltypeId != null" >
        smalltype_id = #{smalltypeId,jdbcType=BIGINT},
      </if>
      <if test="productPrice != null" >
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productUrl != null" >
        product_url = #{productUrl,jdbcType=VARCHAR},
      </if>
      <if test="productSeqno != null" >
        product_seqno = #{productSeqno,jdbcType=INTEGER},
      </if>
      <if test="priceUnit != null" >
        price_unit = #{priceUnit,jdbcType=VARCHAR},
      </if>
      <if test="productNum != null" >
        product_num = #{productNum,jdbcType=INTEGER},
      </if>
      <if test="isDiscount != null" >
        is_discount = #{isDiscount,jdbcType=CHAR},
      </if>
      <if test="productDiscount != null" >
        product_discount = #{productDiscount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="version != null" >
       version = version+1,
      </if>
      <if test="productDesc != null" >
        product_desc = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiandaojia.common.domain.ProductInfo" >
    update t_product_info
    set product_name = #{productName,jdbcType=VARCHAR},
      smalltype_id = #{smalltypeId,jdbcType=BIGINT},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_url = #{productUrl,jdbcType=VARCHAR},
      product_seqno = #{productSeqno,jdbcType=INTEGER},
      price_unit = #{priceUnit,jdbcType=VARCHAR},
      product_num = #{productNum,jdbcType=INTEGER},
      is_discount = #{isDiscount,jdbcType=CHAR},
      product_discount = #{productDiscount,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR},
      version = version+1,
      product_desc = #{productDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <select id="getTotalCount" resultType="int">
		select count(1) from
		t_product_info
		where status = '0' and smalltype_id = #{arg0} 
  </select>

  <select id="queryListByPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_product_info
		where status = '0' and smalltype_id = #{arg2}
		ORDER BY product_seqno
		ASC
		limit
		#{arg0}, #{arg1}
  </select>
</mapper>