<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiandaojia.mapper.product.ProductInformationMapper">
	<resultMap id="BaseResultMap"
		type="com.xiandaojia.common.domain.ProductInformation">
		<id column="information_id" property="informationId" jdbcType="BIGINT" />
		<result column="information_name" property="informationName"
			jdbcType="VARCHAR" />
		<result column="product_id" property="productId" jdbcType="BIGINT" />
		<result column="information_content" property="informationContent"
			jdbcType="VARCHAR" />
		<result column="information_seqno" property="informationSeqno"
			jdbcType="SMALLINT" />
		<result column="information_desc" property="informationDesc"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		information_id, information_name, product_id, information_content, information_seqno,
		information_desc, create_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_product_information
		where information_id = #{informationId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_product_information
		where information_id = #{informationId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.xiandaojia.common.domain.ProductInformation">
		insert into t_product_information (information_id, information_name,
		product_id,
		information_content, information_seqno,
		information_desc, create_time, update_time
		)
		values (#{informationId,jdbcType=BIGINT},
		#{informationName,jdbcType=VARCHAR}, #{productId,jdbcType=BIGINT},
		#{informationContent,jdbcType=VARCHAR},
		#{informationSeqno,jdbcType=SMALLINT},
		#{informationDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.xiandaojia.common.domain.ProductInformation">
		insert into t_product_information
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="informationId != null">
				information_id,
			</if>
			<if test="informationName != null">
				information_name,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="informationContent != null">
				information_content,
			</if>
			<if test="informationSeqno != null">
				information_seqno,
			</if>
			<if test="informationDesc != null">
				information_desc,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="informationId != null">
				#{informationId,jdbcType=BIGINT},
			</if>
			<if test="informationName != null">
				#{informationName,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=BIGINT},
			</if>
			<if test="informationContent != null">
				#{informationContent,jdbcType=VARCHAR},
			</if>
			<if test="informationSeqno != null">
				#{informationSeqno,jdbcType=SMALLINT},
			</if>
			<if test="informationDesc != null">
				#{informationDesc,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiandaojia.common.domain.ProductInformation">
		update t_product_information
		<set>
			<if test="informationName != null">
				information_name = #{informationName,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				product_id = #{productId,jdbcType=BIGINT},
			</if>
			<if test="informationContent != null">
				information_content = #{informationContent,jdbcType=VARCHAR},
			</if>
			<if test="informationSeqno != null">
				information_seqno = #{informationSeqno,jdbcType=SMALLINT},
			</if>
			<if test="informationDesc != null">
				information_desc = #{informationDesc,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where information_id = #{informationId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiandaojia.common.domain.ProductInformation">
		update t_product_information
		set information_name = #{informationName,jdbcType=VARCHAR},
		product_id = #{productId,jdbcType=BIGINT},
		information_content = #{informationContent,jdbcType=VARCHAR},
		information_seqno = #{informationSeqno,jdbcType=SMALLINT},
		information_desc = #{informationDesc,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where information_id = #{informationId,jdbcType=BIGINT}
	</update>
	<delete id="deleteByProductId" parameterType="java.lang.Long">
		delete from t_product_information
		where product_id = #{productId,jdbcType=BIGINT}
	</delete>
	<select id="queryListByProductId" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_product_information
		where product_id =
		#{productId,jdbcType=BIGINT}
		order by information_seqno ASC
	</select>
</mapper>