<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiandaojia.mapper.product.SmallProductRelationMapper" >
  <resultMap id="BaseResultMap" type="com.xiandaojia.common.domain.SmallProductRelation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="smalltype_id" property="smalltypeId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_id, smalltype_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_small_product_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_small_product_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiandaojia.common.domain.SmallProductRelation" >
    insert into t_small_product_relation (id, product_id, smalltype_id
      )
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{smalltypeId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiandaojia.common.domain.SmallProductRelation" >
    insert into t_small_product_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="smalltypeId != null" >
        smalltype_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="smalltypeId != null" >
        #{smalltypeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiandaojia.common.domain.SmallProductRelation" >
    update t_small_product_relation
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="smalltypeId != null" >
        smalltype_id = #{smalltypeId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiandaojia.common.domain.SmallProductRelation" >
    update t_small_product_relation
    set product_id = #{productId,jdbcType=BIGINT},
      smalltype_id = #{smalltypeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  	<delete id="deleteByProductId" parameterType="java.lang.Long">
		delete from t_small_product_relation
		where product_id = #{productId,jdbcType=BIGINT}
	</delete>
</mapper>