<pro-header [title]="'查询表格'"></pro-header>
<nz-card [nzBordered]="false">
    <form nz-form (ngSubmit)="getData()" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="no">属性名称</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="q.smalltypeName" name="no" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="no"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="status">状态</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select [(ngModel)]="q.status" name="status" nzId="status" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true" [nzSize]="'large'">
                            <nz-option *ngFor="let i of status" [nzLabel]="i.text" [nzValue]="i.value"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading.loading" [nzSize]="'large'">查询</button>
                <button nz-button type="reset" (click)="getData()" [nzSize]="'large'" class="mx-sm">重置</button>
            </div>
        </div>
    </form>
    <div class="mb-md">
        <button nz-button (click)= "add()" [nzType]="'primary'" [nzSize]="'large'">
            <i class="anticon anticon-plus"></i><span>新建</span>
        </button>
        <ng-container *ngIf="selectedRows.length > 0">
            <button nz-button (click)="deleteAll()" [nzSize]="'large'" class="ml-sm">批量操作</button>
        </ng-container>
    </div>
    <div class="mb-md">
        <nz-alert [nzType]="'info'" [nzShowIcon]="true">
            <span alert-body>
                已选择 <strong class="text-primary">{{selectedRows.length}}</strong> 项&nbsp;&nbsp;
                <a *ngIf="totalCallNo > 0" (click)="clear()" class="ml-lg">清空</a>
            </span>
        </nz-alert>
    </div>
    <nz-table #nzTable [nzAjaxData]="data" [nzTotal]="totalCount" [nzPageSize]="q.pageSize" [nzLoading]="loading.loading"
              (nzDataChange)="dataChange($event)"
              (nzPageIndexChange)="pageChange($event)">
        <thead nz-thead>
        <tr>
            <th nz-th [nzCheckbox]="true">
                <label nz-checkbox [(ngModel)]="allChecked" [nzIndeterminate]="indeterminate"
                       (ngModelChange)="checkAll($event)"></label>
            </th>
            <th nz-th><span>属性名称</span></th>
            <th nz-th><span>属性排序</span></th>
            <th nz-th>
                <span>状态</span>
                <nz-dropdown [nzTrigger]="'click'">
                    <i class="anticon anticon-filter" nz-dropdown></i>
                    <ul nz-menu>
                        <li nz-menu-item *ngFor="let i of status">
                            <label nz-checkbox [(ngModel)]="i.value"><span>{{i.text}}</span></label>
                        </li>
                    </ul>
                    <div nz-table-filter>
                        <span nz-table-filter-confirm (click)="getData()">确定</span>
                        <span nz-table-filter-clear (click)="reset(status)">重置</span>
                    </div>
                </nz-dropdown>
            </th>
            <th nz-th>
                <span>创建时间</span>
                <nz-table-sort [(nzValue)]="sortMap.createdAt" (nzValueChange)="sort('createdAt',$event)"></nz-table-sort>
            </th>
            <th nz-th>
                <span>最后操作人</span>
            </th>
            <th nz-th><span>操作</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let i of nzTable.data">
            <td nz-td [nzCheckbox]="true">
                <label nz-checkbox [nzDisabled]="i.disabled" [(ngModel)]="i.checked" (ngModelChange)="refreshStatus($event)">
                </label>
            </td>
            <td nz-td>{{i.smalltypeName}}</td>
            <td nz-td>{{i.smallSeqno}}</td>
            <td nz-td><nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge></td>
            <td nz-td>{{i.createTime | _date}}</td>
            <td nz-td>{{i.operator}}</td>
            <td nz-td>
                <a (click)="edit(i)">编辑</a>
                <span nz-table-divider></span>
                <a (click)="delete(i.smallTypeId)">删除</a>
            </td>
        </tr>
        </tbody>
    </nz-table>
</nz-card>
<nz-modal [nzVisible]="modalVisible" [nzTitle]="smallTypeId === '' ?'新建属性':'编辑属性'" [nzConfirmLoading]="loading.loading" [nzContent]="modalContent"
          (nzOnCancel)="modalVisible=false" (nzOnOk)="save()" >
    <ng-template #modalContent>
        <form nz-form [formGroup]="form">
            <div nz-form-item class="d-flex">
                <div nz-form-label><label for="smalltypeName" nz-form-item-required>属性名称</label></div>
                <div nz-form-control class="flex-1">
                    <nz-input formControlName="smalltypeName" [(ngModel)]="smalltypeName" name="smalltypeName" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="smalltypeName"></nz-input>
                </div>
            </div>
            <div nz-form-item class="d-flex">
                <div nz-form-label><label for="smallSeqno" nz-form-item-required>属性排序</label></div>
                <div nz-form-control class="flex-1">
                    <nz-input formControlName="smallSeqno"  [(ngModel)]="smallSeqno" type="number" name="smallSeqno" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="smallSeqno"></nz-input>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="4">
                    <label nz-form-item-required>状态</label>
                </div>
                <div nz-form-control nz-col [nzSm]="20">
                    <nz-select formControlName="smallTypeStatus"  [(ngModel)]="smallTypeStatus" name="smallTypeStatus" nzAllowClear>
                        <nz-option
                            *ngFor="let s of status"
                            [nzLabel]="s.text"
                            [nzValue]="s.value">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>
