<pro-header [title]="'查询表格'"></pro-header>
<nz-card [nzBordered]="false">
    <form nz-form (ngSubmit)="getData()" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="no">用户账号</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="userItem.userAccount" name="no" [nzSize]="'large'" [nzPlaceHolder]="'用户姓名'" nzId="userAccount"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="no">会员名</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="userItem.userMemberName" name="no" [nzSize]="'large'" [nzPlaceHolder]="'用户姓名'" nzId="userMemberName"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="no">身份证姓名</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="userItem.userName" name="no" [nzSize]="'large'" [nzPlaceHolder]="'身份证姓名'" nzId="userName"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="no">用户年龄</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="userItem.userAge" name="no" [nzSize]="'large'" [nzPlaceHolder]="'年龄'" nzId="userAge"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="status">性别</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select [(ngModel)]="userItem.userSex" name="userSex" nzId="userSex" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true" [nzSize]="'large'">
                            <nz-option *ngFor="let i of Sex" [nzLabel]="i.text" [nzValue]="i.value"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                <button nz-button type="reset" (click)="getData()" [nzSize]="'large'" class="mx-sm">重置</button>
            </div>
        </div>
    </form>

    <div class="mb-md">
        <!--<button nz-button (click)= "add()" [nzType]="'primary'" [nzSize]="'large'">
            <i class="anticon anticon-plus"></i><span>新建</span>
        </button>-->
        <ng-container *ngIf="selectedRows.length > 0">
            <button nz-button (click)="deleteAll()" [nzSize]="'large'" class="ml-sm">批量操作</button>
        </ng-container>
    </div>
    <div class="mb-md">
        <nz-alert [nzType]="'info'" [nzShowIcon]="true">
            <span alert-body>
                已选择 <strong class="text-primary">{{selectedRows.length}}</strong> 项&nbsp;&nbsp;
                <a *ngIf="totalCallNo > 0" (click)="clear()" class="ml-lg">清空</a>
            </span>
        </nz-alert>
    </div>
    <nz-table #nzTable [nzAjaxData]="data" [nzTotal]="totalCount" [nzPageSize]="q.pageSize" [nzLoading]="loading"
              (nzDataChange)="dataChange($event)"
              (nzPageIndexChange)="pageChange($event)">
        <thead nz-thead>
        <tr>
            <th nz-th [nzCheckbox]="true">
                <label nz-checkbox [(ngModel)]="allChecked" [nzIndeterminate]="indeterminate"
                       (ngModelChange)="checkAll($event)"></label>
            </th>
            <th nz-th><span>用户id</span></th>
            <th nz-th><span>用户账号</span></th>
            <th nz-th><span>身份证姓名</span></th>
            <th nz-th><span>会员名</span></th>
            <th nz-th><span>手机号</span></th>
            <th nz-th>
                <span>创建时间</span>
                <nz-table-sort [(nzValue)]="sortMap.createdAt" (nzValueChange)="sort('createdAt',$event)"></nz-table-sort>
            </th>
            <th nz-th>
                <span>登陆时间</span>
                <nz-table-sort [(nzValue)]="sortMap.createdAt" (nzValueChange)="sort('createdAt',$event)"></nz-table-sort>
            </th>
            <th nz-th><span>操作</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let i of nzTable.data">
            <td nz-td [nzCheckbox]="true">
                <label nz-checkbox [nzDisabled]="i.disabled" [(ngModel)]="i.checked" (ngModelChange)="refreshStatus($event)">
                </label>
            </td>
            <td nz-td>{{i.userId}}</td>
            <td nz-td>{{i.userAccount}}</td>
            <td nz-td>{{i.userName}}</td>
            <td nz-td>{{i.userMemberName}}</td>
            <td nz-td>{{i.userPhone}}</td>
            <td nz-td>{{i.createTime | _date}}</td>
            <td nz-td>{{i.lastLoginTime | _date}}</td>
            <td nz-td>
                <!--<a (click)="edit(i)">编辑</a>
                <span nz-table-divider></span>-->
                <a (click)="delete(i.id)">删除</a>
                <!--<span nz-table-divider></span>
                <a (click)="resetPassword(i)">密码重置</a>-->
            </td>
        </tr>
        </tbody>
    </nz-table>
</nz-card>
<nz-modal [nzVisible]="modalVisible" [nzMaskClosable]="false"  [nzWidth]="1024" [nzTitle]="roleTitle"
          [nzConfirmLoading]="loading" [nzContent]="dictModal"
          (nzOnCancel)="modalVisible = false" [nzFooter]="">
    <ng-template #dictModal>
        <form novalidate  (ngSubmit)="save(f)"  #f="ngForm" >
            <div nz-row  [nzType]="'flex'" [nzJustify]="'end'" [nzGutter]="24">
                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-col [nzSpan]="3"   nz-form-label class="alignment"><label for="funcCode">用户账号</label><span [ngClass]="{'fromErrors':userAccount.errors?.required}">* </span></div>
                        <div nz-col [nzSpan]="20" nz-form-control>
                            <nz-input [(ngModel)]="userAdd.userAccount" name="userAccount" #userAccount="ngModel"   required [nzSize]="'large'" [nzPlaceHolder]="'用户账号'" nzId="userAccount"></nz-input>
                        </div>
                    </div>
                    <div *ngIf="userAccount.errors?.required && userAccount.touched"  nz-col [nzSpan]="6" [nzOffset]="3"     class="fromErrors">
                        请必须输入用户账号
                    </div>
                </div>
                <div nz-col [nzSpan]="24" class="mb-md"   *ngIf="isPassword">
                    <div nz-form-item class="d-flex">
                        <div nz-col [nzSpan]="3"   nz-form-label class="alignment"><label for="funcCode">用户密码</label><span [ngClass]="{'fromErrors':userPassword.errors?.required}">* </span></div>
                        <div nz-col [nzSpan]="20" nz-form-control>
                            <nz-input [(ngModel)]="userAdd.userPassword" name="userPassword" #userPassword="ngModel"  required  [nzSize]="'large'" [nzPlaceHolder]="'用户密码'" nzId="userPassword"></nz-input>
                        </div>
                    </div>
                    <div *ngIf="userPassword.errors?.required && userPassword.touched"  nz-col [nzSpan]="6" [nzOffset]="3"     class="fromErrors">
                        请必须输入用户密码
                    </div>
                </div>
                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-col [nzSpan]="3"   nz-form-label class="alignment"><label for="userPhone">手机号码</label><span [ngClass]="{'fromErrors':userPhone.errors?.required}">* </span></div>
                        <div nz-col [nzSpan]="20" nz-form-control>
                            <nz-input [(ngModel)]="userAdd.userPhone" name="userPhone" #userPhone="ngModel"  required  [nzSize]="'large'" [nzPlaceHolder]="'手机号码'" nzId="userPhone"></nz-input>
                        </div>
                    </div>
                    <div *ngIf="userPhone.errors?.required && userPhone.touched"  nz-col [nzSpan]="6" [nzOffset]="3"     class="fromErrors">
                        请必须输入手机号码
                    </div>
                </div>
                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-col [nzSpan]="3"   nz-form-label class="alignment"><label for="userLevel">会员名</label><span [ngClass]="{'fromErrors':userMemberName.errors?.required}">* </span></div>
                        <div nz-col [nzSpan]="20" nz-form-control>
                            <nz-input [(ngModel)]="userAdd.userMemberName" name="userMemberName" #userMemberName="ngModel"  required  [nzSize]="'large'" [nzPlaceHolder]="'会员名'" nzId="userMemberName"></nz-input>
                        </div>
                    </div>
                    <div *ngIf="userMemberName.errors?.required && userMemberName.touched"  nz-col [nzSpan]="6" [nzOffset]="3"     class="fromErrors">
                        请必须输入会员名
                    </div>
                </div>
                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-col [nzSpan]="3"   nz-form-label class="alignment"><label for="userLevel">身份证姓名</label><span [ngClass]="{'fromErrors':userName.errors?.required}">* </span></div>
                        <div nz-col [nzSpan]="20" nz-form-control>
                            <nz-input [(ngModel)]="userAdd.userName" name="userLevel" #userName="ngModel"  required  [nzSize]="'large'" [nzPlaceHolder]="'身份证姓名'" nzId="userName"></nz-input>
                        </div>
                    </div>
                    <div *ngIf="userName.errors?.required && userName.touched"  nz-col [nzSpan]="6" [nzOffset]="3"     class="fromErrors">
                        请必须输入身份证姓名
                    </div>
                </div>
                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-col [nzSpan]="3"   nz-form-label class="alignment"><label for="userLevel">身份证号码</label><span [ngClass]="{'fromErrors':userIdcard.errors?.required}">* </span></div>
                        <div nz-col [nzSpan]="20" nz-form-control>
                            <nz-input [(ngModel)]="userAdd.userIdcard" name="userIdcard" #userIdcard="ngModel"  required  [nzSize]="'large'" [nzPlaceHolder]="'身份证姓名'" nzId="userIdcard"></nz-input>
                        </div>
                    </div>
                    <div *ngIf="userIdcard.errors?.required && userIdcard.touched"  nz-col [nzSpan]="6" [nzOffset]="3"     class="fromErrors">
                        请必须输入身份证号码
                    </div>
                </div>
                <!--用户头像，后期改成select或者上传-->
                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-col [nzSpan]="3"   nz-form-label class="alignment"><label for="userLevel">用户头像</label><span [ngClass]="{'fromErrors':userImage.errors?.required}">* </span></div>
                        <div nz-col [nzSpan]="20" nz-form-control>
                            <nz-input [(ngModel)]="userAdd.userImage" name="userImage" #userImage="ngModel"  required  [nzSize]="'large'" [nzPlaceHolder]="'用户头像'" nzId="userImage"></nz-input>
                        </div>
                    </div>
                    <div *ngIf="userImage.errors?.required && userImage.touched"  nz-col [nzSpan]="6" [nzOffset]="3"     class="fromErrors">
                        请必须输入身份证号码
                    </div>
                </div>
                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-col [nzSpan]="3"   nz-form-label class="alignment"><label for="userAge">年龄</label><span [ngClass]="{'fromErrors':userAge.errors?.required}">* </span></div>
                        <div nz-col [nzSpan]="20" nz-form-control>
                            <nz-input [(ngModel)]="userAdd.userAge" name="userAge" #userAge="ngModel"  required  [nzSize]="'large'" [nzPlaceHolder]="'年龄'" nzId="userAge"></nz-input>
                        </div>
                    </div>
                    <div *ngIf="userAge.errors?.required && userAge.touched"  nz-col [nzSpan]="6" [nzOffset]="3"     class="fromErrors">
                        请必须输入年龄
                    </div>
                </div>
                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-col [nzSpan]="3"   nz-form-label class="alignment"><label for="funcCode">性别</label><span [ngClass]="{'fromErrors':f.controls.userSex?.errors}">* </span></div>
                        <div nz-col [nzSpan]="20" nz-form-control>
                            <nz-select style="width:100%" [(ngModel)]="userAdd.userSex"   required      name="userSex" [nzSize]="'large'" [nzPlaceHolder]="'请选择'" nzId="userSex">
                                <nz-option  *ngFor="let i of Sex; let app = index" [nzLabel]="i.text" [nzValue]="i.value"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div *ngIf="f.controls.userSex?.errors && f.controls.userSex.touched"  nz-col [nzSpan]="6" [nzOffset]="3"     class="fromErrors">
                        请必须选择性别
                    </div>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzSpan]="6" [nzOffset]="19">
                    <button style="margin-right: 16%" nz-button [nzType]="'default'" [nzSize]="'large'" (click)="modalVisible = false">
                        取消
                    </button>
                    <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" [disabled]="f.invalid"  [nzLoading]="isConfirmLoading">
                        提 交
                    </button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>
